@import '/src/index.scss';

.AuthNav {
  text-decoration: none;
  transition: var(--timing-function);

  @media screen and (min-width: 600px) {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
