@import '/src/index.scss';

.Contacts__list {
  padding: 15px;
  text-align: left;
}

.Contacts__message {
  text-align: center;
}

.Contacts__total {
  font-size: 18px;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  text-align: left;
  background-color: black;
  box-shadow: var(--light-shadow);
}
